---
---

@charset "utf-8";

@use "sass:color";
@use "so-simple/variables" with (
  $base-color: #404040,
  $text-color: #404040,
  $accent-color: #0a71e2,
  $nav-color: #fff,
  $background-color: #fff,
  $nav-background-color: #626262,
  $code-background-color: color.mix(#fff, #404040, 95%),
  $border-color: color.mix(#fff, #404040, 80%),

  $primary-color: #fff,
  $success-color: #34c759,
  $warning-color: #ffcc00,
  $danger-color: #ff3b30,
  $info-color: #5ac8fa,

  $base00: #fafafa,
  $base01: #073642,
  $base02: #586e75,
  $base03: #657b83,
  $base04: #839496,
  $base05: #586e75,
  $base06: #eee8d5,
  $base07: #fdf6e3,
  $base08: #dc322f,
  $base09: #cb4b16,
  $base0a: #b58900,
  $base0b: #859900,
  $base0c: #2aa198,
  $base0d: #268bd2,
  $base0e: #6c71c4,
  $base0f: #d33682
);
@use "so-simple/skin";
